@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #2563eb;
  --color-primary-foreground: #ffffff;

  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #111827;

  --color-muted: #f3f4f6;
  --color-muted-foreground: #6b7280;

  --color-accent: #eef2ff;
  --color-accent-foreground: #1f2937;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  --color-input: #e5e7eb;
  --color-ring: #60a5fa;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
